.container {
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #198754;
    color: white;
    padding: 10px 0;
}

.upload-btn {
    background-color: #198754;
    color: white;
    margin-top: 4rem; /* Adjust the value as needed for your design */
}

.card-body {
    background-color: white;
    padding: 20px;
}

.form-select, .form-control {
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #4cae4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4cae4c;
}

.flashcard-list {
    margin-top: 1rem;
}

.list-group-item {
    border: 1px solid #ced4da;
    margin-bottom: .125rem;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
