
<!-- Main Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Edu Fun</h1>
        <!--  <p>Discover the perfect space for your events and celebrations.</p> -->
        <div>
          <a class="btn btn-primary" routerLink="/login">Let's study</a>
        </div>
      </div>
  </section>

  <!-- Introduction Section -->
<section class="introduction">
    <div class="container">
        <h2>About Edu Fun</h2>
        <p>Learn more about the spaces we offer and choose the one that suits your needs.</p>
        <a class="btn btn-secondary" routerLink="/about-us">How to use</a>
    </div>
</section>
