<!-- deck-list.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header text-white bg-success">
          <h2>Your Deck List</h2>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="bg-light">
            <tr>
              <th scope="col">Deck Name</th>
              <th scope="col" class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deck of decks">
              <ng-container *ngIf="!deck.editing; else editMode">
                <td>{{ deck.name }}</td>
                <td class="text-right">
                  <button class="btn btn-outline-primary btn-sm" (click)="enableEditing(deck)">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                  <button class="btn btn-outline-danger btn-sm" (click)="deleteDeck(deck.id)">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                </td>
              </ng-container>
              <ng-template #editMode>
                <td><input type="text" [(ngModel)]="deck.name" class="form-control" /></td>
                <td class="text-right">
                  <button class="btn btn-success btn-sm" (click)="saveChanges(deck)">
                    Save
                  </button>
                  <button class="btn btn-secondary btn-sm" (click)="cancelEditing(deck)">
                    Cancel
                  </button>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </table>
          <div class="text-center mt-4">
            <button routerLink="/create-deck" class="btn btn-lg btn-success">+ Create New Deck</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
