.container {
    max-width: 800px;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #4cae4c; /* Your desired header background color */
    color: white; /* Your desired header font color */
    padding: 10px; /* Adjust padding as necessary */
    text-align: center;
    /* Add other styles as needed */
}

.card-body {
    background-color: white; /* Background color for the body */
    padding: 20px; /* Adjust padding as necessary */
    /* Add other styles as needed */
}

/* Style for the list group */
.list-group-item {
    border: 1px solid #ddd; /* Light grey border for each item */
    margin-bottom: 5px; /* Space between items */
    padding: 10px; /* Padding inside each item */
    /* Add other styles as needed */
}

.form-select, .form-control {
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #198754;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.flashcard-list {
    margin-top: 1rem;
}

.list-group-item {
    border: 1px solid #ced4da;
    margin-bottom: .125rem;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
