<!-- flashcard-list.component.html -->
<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header text-white">
            <h2 class="text-center">Display Flashcards</h2>
        </div>
        <div class="card-body">
            <div class="form-group mb-3">
                <label for="deckSelect">Select a Deck:</label>
                <select id="deckSelect" class="form-select" [(ngModel)]="selectedDeckId" (ngModelChange)="onDeckSelectChange($event)" name="deckSelect" required>
                    <option value=null disabled selected>Please select a deck.</option>
                    <option *ngFor="let deck of decks" [ngValue]="deck.id">{{ deck.name }}</option>
                </select>
            </div>
            <div *ngIf="flashcards && flashcards.length > 0">
              <h3 class="mb-3">
                Number of the flashcards in Selected Deck is <span *ngIf="flashcards">{{ flashcards.length }} .</span>
              </h3>

              <ul class="list-group">
                    <li class="list-group-item" *ngFor="let flashcard of flashcards; let i = index">
                        <ng-container *ngIf="!flashcard.editing; else editFlashcard">
                            <strong>Front:</strong> {{ flashcard.front }} <br>
                            <strong>Back:</strong> {{ flashcard.back }}
                            <div class="text-right">
                                <button class="btn btn-outline-primary btn-sm" (click)="enableFlashcardEditing(flashcard)">
                                    <span class="fas fa-edit"></span> <span>Edit</span>
                                </button>
                                <button class="btn btn-outline-danger btn-sm" (click)="deleteFlashcard(flashcard.id)">
                                    <span class="fas fa-trash-alt"></span> <span>Delete</span>
                                </button>
                            </div>
                        </ng-container>
                        <ng-template #editFlashcard>
                            <div class="form-group">
                                <label for="front{{i}}">Front:</label>
                                <input id="front{{i}}" type="text" [(ngModel)]="flashcard.front" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="back{{i}}">Back:</label>
                                <input id="back{{i}}" type="text" [(ngModel)]="flashcard.back" class="form-control" />
                            </div>
                            <div class="text-right">
                                <button class="btn btn-success btn-sm" (click)="saveFlashcardChanges(flashcard)">
                                    Save
                                </button>
                                <button class="btn btn-secondary btn-sm" (click)="cancelFlashcardEditing(flashcard)">
                                    Cancel
                                </button>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div *ngIf="!flashcards || flashcards.length === 0" class="text-center">
                <p>No flashcards available. Add some!</p>
        </div>
    </div>
</div>

