<!-- study.component.html -->
<div class="study-wrapper">
  <div class="container study-container">
    <header class="header_ss">
        <div class="session-buttons">
        <!-- Removed the h1 and added two buttons -->
            <button class="start-study-session-btn" (click)="startStudySession()">Launch Study</button>
            <button class="end-study-btn" (click)="endStudySession()" [disabled]="!isStudySessionActive">End Study</button>
        </div>
    </header>
    <section class="study-session">
      <div class="deck-selection">
        <div class="selection-group">
          <label for="deckSelect" class="form-label">Select Deck</label>
          <select id="deckSelect" class="form-select" [(ngModel)]="selectedDeckId">
            <option value=null disabled selected>Choose a deck to study...</option>
            <option *ngFor="let deck of decks" [value]="deck.id">{{ deck.name }}</option>
          </select>
        </div>

        <div class="selection-group">
          <label for="studyDirectionSelect" class="form-label">Card Direction</label>
          <select id="studyDirectionSelect" class="form-select" [(ngModel)]="studyDirection">
            <option value="basic" selected>Basic (front-to-back)</option>
            <option value="reverse">Reverse (back-to-front)</option>
          </select>
        </div>

        <div class="selection-group">
          <label for="cardOrderSelect" class="form-label">Study Order</label>
          <select id="cardOrderSelect" class="form-select" [(ngModel)]="cardOrder">
            <option value="sequential" selected>Sequential</option>
            <option value="random">Random</option>
            <option value="reverse">Reverse</option>
            <option value="srs">SRS (Spaced Repetition)</option>
          </select>
        </div>

          <button class="start-study-btn" (click)="beginFlashcardStudy()">Start!</button>
       <!-- <button class="end-btn" (click)="endSession()">Reset</button> -->
      </div>

        <h2 class="deck-title" *ngIf="selectedDeck">{{ selectedDeck.name }}</h2>

        <div class="card-review-container">
            <div class="card front">
                <p *ngIf="currentCard">{{ currentCard.front }}</p>
                <p *ngIf="!currentCard">&nbsp;</p>
            </div>
            <div class="card back">
                <p *ngIf="showAnswerFlag">{{ currentCard?.back }}</p>
                <p *ngIf="!showAnswerFlag">&nbsp;</p>
            </div>
        </div>

      <div class="card-control-buttons">
        <button class="nav-btn prev-btn" (click)="previousCard()"><< Pre</button>

        <button class="answer-btn" *ngIf="!showAnswerFlag" (click)="showAnswer()">Show Answer</button>

        <div class="review-buttons" *ngIf="showAnswerFlag && currentCard">
          <button class="btn success" [class.grey-out]="buttonsDisabled" [disabled]="buttonsDisabled" (click)="reviewCard(currentCard.id, 3)">Easy</button>
          <button class="btn danger" [class.grey-out]="buttonsDisabled" [disabled]="buttonsDisabled" (click)="reviewCard(currentCard.id, 1)">Difficult</button>
        </div>

        <button class="nav-btn next-btn" (click)="nextCard()">Next >></button>
      </div>

    </section>
    </div>

</div>

