<!-- EduFun/frontend-angular/src/app/app.component.html -->

<!-- Start of the header -->
<header class="header">
  <!-- Logo -->
  <a href="/" class="logo">
    <img src="assets/mainLogo1.png" alt="EduFun Logo" />
  </a>

  <!-- Navigation Links -->
  <nav>
    <ul class="navigation">
      <li><a routerLink="/study">Study</a></li>
      <li><a routerLink="/deck-list">Deck</a></li>
      <li><a routerLink="/add-flashcards">Add Flashcards</a></li>
      <!--<li><a routerLink="/search">Search</a></li>-->
      <li><a routerLink="/statistics">Statistics</a></li>
      <!-- <li><a routerLink="/synchronization">Synchronization</a></li> -->
      <li><a routerLink="/about-us">How to use</a></li>
    </ul>
  </nav>

  <!-- Right side of the header -->
  <div class="header-right">
    <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
      <span *ngIf="userEmail$ | async as userEmail" class="welcome-text">Welcome, {{ userEmail }}!</span>
      <a routerLink="#" class="user-button" (click)="logout()">Logout</a>
    </ng-container>
    <ng-template #loggedOut>
      <a routerLink="/login" class="user-button">Log In</a>
      <a routerLink="/signup" class="user-button">Sign Up</a>
    </ng-template>
  </div>
</header>
<!-- End of the header -->

<!-- Main content -->
<router-outlet></router-outlet>



